.map {
    border: 0;
}

.signin, .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.content {
    margin-top: 2rem;
}

.content h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    color: var(--primary-color);
    text-shadow: 0.7rem 0.7rem 0.4rem rgba(0, 0, 0, 0.18);
}

.main {
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.10);
    border-radius: 3rem;
    padding: 8rem;
}


.main--input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


.main--input input {
    border: 0.1rem solid #868686;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    width: 30rem;
}

.main--input textarea {
    border: 0.1rem solid #868686;
    padding: 2rem 3rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 30rem;
}

.main--input input:focus, .main--input textarea:focus {
    outline: none !important;
    border: 0.1rem solid;
    border-color: var(--tertiary-color);
    transition: ease .3s;
}


.main--button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main--button button{
    padding: 1rem 5rem;
    font-size: 1.5rem;
    border: 0.1rem solid var(--primary-color);
    font-weight: 500;
    border-radius: 2rem;
}
.button_signin {
    background-color: var(--primary-color);
    color: #fff;
}

.button_signin:hover {
    border: 0.1rem solid var(--primary-color);
    background-color: #f6f6f8;
    color: var(--primary-color);
    transition: ease .4s;
}

.button_signup {
    border: 0.1rem solid var(--primary-color) !important;
    background-color: #f6f6f8;
    color: var(--primary-color);
}

.button_signup:hover {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    transition: ease .4s;
}

.map__company iframe {
    border-radius: 2rem;
}
